# Documentação e arquivos antigos
*.md
!README.md
*.sql
*.py
*.txt
.bash_history
.profile
.zshrc
.secrets/
.pki/
.browser_data_dir/
screenshots/
upload/

# Pastas de projetos antigos
backend/
database/
docs/
nimoenergia-*/
portal-*/
PortalNimo/
apresentacao-*/
